{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px;">
<div class="row">
  <div class="col-md-12">
    <h1>Assignment</h1>
    <p> For this assignment, I created a simple flask app that can download the data through http and return file statistics in json / csv format. </p>
      
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <h1>API</h1>
    <p>The API will have the following endpoints:</p>
    <ul id="l1">
      <li data-list-text="•"></li>><a class="a" href="/json"><strong>/json</strong></a> - This endpoint will return the data in JSON format. You will need to send a GET request to retrieve the data.</li>
      <li data-list-text="•"></li>><a class="a" href="/csv"><strong>/csv</strong></a> - This endpoint will return the data in CSV format. You will need to send a POST request to retrieve the data.</li>
    </ul>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <h1>How to Use</h1>
    <p>To use the API, you will need to send a GET request to the <a href="/json"><strong>/json</strong></a> endpoint to retrieve the data in JSON format. To retrieve the data in CSV format, you will need to send a POST request to the <a href="/csv"><strong>/csv</strong></a> endpoint.</p>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <h1>API Data</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date Submitted</th>
          <th>Total Time Taken</th>
          <th>API Path</th>
          <th>How to Use</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Puneet Girdhar</td>
          <td>2024-02-15</td>
          <td>2 hours</td>
          <td>/json</td>
          <td>Send a GET request to retrieve data</td>
          <td><a href="/json">GET</a></td>
        </tr>
        <tr>
          <td>Puneet Girdhar</td>
          <td>2024-02-15</td>
          <td>2 hours</td>
          <td>/csv</td>
          <td>Send a GET request to retrieve data</td>
          <td><a href="/csv">GET</a></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
